<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div id="simple">
        <p v-pre>{{message}}</p>
        <p v-once>{{message}}</p>
        <!-- no change to 'welcome to vue.js world' -->
        <p>{{message}}</p>
        <!-- change successful -->
    </div>
    <div id="computed">
        <input type="text" v-model="num" /><br /> Sum from 1 to inserted value : <span>{{sum}}</span>
    </div>
</body>

</html>

<script>
    var model = {
        message: 'Hello world'
    }

    var simple = new Vue({
        el: '#simple',
        data: model
    })

    window.onload = function() {
        // when load complete change message value
        model.message = 'Welcome to vue.js world'
    }
</script>

<script>
    var vmSum = new Vue({
        el: '#computed',
        data: {
            num: 0
        },
        computed: {
            sum: function() {
                var n = Number(this.num);
                if (Number.isNaN(n) || n < 1)
                    return 0;
                return ((1 + n) * n) / 2;
            }
        }
    })
</script>