<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>02-11</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        #list {
            width: 480px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
    </style>
</head>

<body>
    <div id="example">
        <p>Country name : <input type="text" v-model="countryname" placeholder="Country Name" /></p>
        <table id="list">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Country name</th>
                    <th>Capital</th>
                    <th>Region</th>
                </tr>
            </thead>
            <tbody id="contracts">
                <tr v-for="c in filtered">
                    <td>{{c.no}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.capital}}</td>
                    <td>{{c.region}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var model = {
            countryname: '',
            countries: [{
                no: 1,
                name: 'United State of America',
                capital: 'Washington DC',
                region: 'america'
            }, {
                no: 2,
                name: 'France',
                capital: 'Paris',
                region: 'europe'
            }, {
                no: 3,
                name: 'United of Kingdom',
                capital: 'London',
                region: 'europe'
            }, {
                no: 4,
                name: 'China',
                capital: 'Beijing',
                region: 'asia'
            }, {
                no: 5,
                name: 'Taiwan',
                capital: 'Bangkok',
                region: 'asia'
            }, {
                no: 6,
                name: 'Moroco',
                capital: 'Rabat',
                region: 'africa'
            }, {
                no: 7,
                name: 'Laos',
                capital: 'Vientiane',
                region: 'asia'
            }, {
                no: 8,
                name: 'Vietnam',
                capital: 'Hanoi',
                region: 'asia'
            }, {
                no: 9,
                name: 'Fiji',
                capital: 'Suva',
                region: 'oceania'
            }, {
                no: 10,
                name: 'Solomon',
                capital: 'Honiara',
                region: 'oceania'
            }, {
                no: 11,
                name: 'Jamaica',
                capital: 'Kingston',
                region: 'america'
            }, {
                no: 12,
                name: 'Namibia',
                capital: 'Windhoek',
                region: 'africa'
            }, {
                no: 13,
                name: 'East Timor',
                capital: 'Dili',
                region: 'asia'
            }, {
                no: 14,
                name: 'Mexico',
                capital: 'Mexicocity',
                region: 'america'
            }, {
                no: 15,
                name: 'Venezuela',
                capital: 'Caracas',
                region: 'america'
            }, {
                no: 16,
                name: 'Western Samoa',
                capital: 'Apia',
                region: 'america'
            }, ],
        }

        var clist = new Vue({
            el: '#example',
            data: model,
            computed: {
                filtered: function() {
                    var cname = this.countryname.trim().toLowerCase();
                    return this.countries.filter(function(item, index) {
                        if (item.name.toLowerCase().indexOf(cname) > -1) {
                            return true;
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>