<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <!-- Start View Part -->
  <div id="simple">
    interpolation
    <h2>{{message}}</h2>
    <!-- 1. {{ }} template part will be changed by viewmodel from data properties -->
    <hr />
    
    <div>
      <h3>v-text</h3>
      <h2 v-text="vtext_vtext_msg"></h2>
    </div>

    <hr />
    
    <div>
      <h3>v-html</h3>
      <h2 v-html="vtext_vtext_msg"></h2>
      <!-- Warning! this code is vulnerabe to XSS(Cross Site Scripting) Attacks -->
    </div>

    <hr />
    
    <div>
      <h3>v-bind</h3>
      <input id="a" type="text" v-bind:value="vbind_message" />
      <br />
      <img v-bind:src="imagePath" />
      <img :src="imagePath" />
      <!-- simple v-bind -->
    </div>
  </div>
  <!-- End View Part -->

  <hr />
  
  <div id="simple2">
    <h3>v-model</h3>
    <div>
      <input type="text" v-model="name" placeholder="Please typing your name" />
      <h2 v-text="name"></h2>
    </div>
    <div>
      <p>choice all your favorite fruits.</p>
      <label><input type="checkbox" value="1" v-model="fruits" />Apple</label>,
      <label><input type="checkbox" value="2" v-model="fruits" />Kiwi</label>,
      <label><input type="checkbox" value="3" v-model="fruits" />Grape</label>,
      <label><input type="checkbox" value="4" v-model="fruits" />Water melon</label>,
      <label><input type="checkbox" value="5" v-model="fruits" />Melon</label>,
      <hr />
      <p>
        choice fruits : <span v-text="fruits"></span>
      </p>
    </div>
  </div>

  <div id="account">
    <div>
      <h3>v-show vs v-if</h3>
      <input type="text" v-model="amount" />
      <i v-if="amount < 0" class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"></i>
      <i v-show="amount < 0" class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"></i>
      <br />
      <h3>v-if</h3>
      <p>
        Your Class : 
        <span v-if="amount >= 1000000">Gold</span>
        <span v-else-if="amount >= 500000">Silver</span>
        <span v-else-if="amount >= 200000">Bronze</span>
        <span v-else>Basic</span>
      </p>
    </div>
    
  </div>
</body>

</html>

<script>
    var model = { // 3. Model Part : source -> get from backend service such as rest, soap api, and so on..
      message: 'Vue.js app in first time',
      vtext_vtext_msg: '<i>Included HTML Tags</i>',
      vbind_message: 'v-bind directive',
      imagePath: 'https://blog.flexibledev.com/wp-content/uploads/2016/07/apple-icon-precomposed.png',
    }

    var simple = new Vue({ // 2. ViewModel Part : have the model data
      el: '#simple',
      data: model
    })

    var model2 = {
      name: 'Martin Seon',
      fruits: []
    }

    var simple2 = new Vue({
      el: '#simple2',
      data: model2
    })

    var account = new Vue({
      el: '#account',
      data: {
        amount: 0
      }
    })
  </script>