<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div id="example">
        <select id="regions">
            <option disabled selected>Please choice a region</option>
            <option v-for="(val, key) in regions" v-bind:value="key">{{val}}</option>
        </select>

        <div id="example_2">
            <select id="regions_2">
                <option disabled selected>Please choice a region</option>
                <option v-for="(val, key, index) in regions" v-bind:value="key">{{index+1}} : {{val}}</option>
            </select>
        </div>
    </div>
</body>

</html>

<script>
    var regions = {
        A: "Asia",
        B: "America",
        C: "Europe",
        D: "Africa",
        E: "Oceania",
    }
    var list = new Vue({
        el: '#example',
        data: {regions: regions}
    })
</script>