<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>04-01</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        .layout1 {
            margin: 30px;
        }
    </style>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="example" class="container layout1">
        <p>
            <input type="text" v-model="amount" class="form-control" />
        </p>
        <p>
            <button id="create" v-on:click.once="specialEvent" class="btn btn-primary">계좌 개설 10000원 이벤트</button>
            <button id="deposit" @click="deposit" class="btn btn-primary">예금</button>
            <button id="withdraw" @click="withdraw" class="btn btn-primary">인출</button>
        </p>
        <h3>계좌 잔고 : {{balance}}</h3>
    </div>

    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                amount: 0,
                balance: 0,
            },
            methods: {
                deposit: function(e) {
                    var amt = parseInt(this.amount);
                    if (amt <= 0) {
                        alert('0보다 큰 값을 예금해야 합니다')
                    } else {
                        this.balance += amt;
                    }
                },
                withdraw: function(e) {
                    var amt = parseInt(this.amount);
                    if (amt <= 0) {
                        alert('인출하려면 0원 이상을 입력해 주세요')
                    } else if (amt > this.balance) {
                        alert('잔고보다 많은 금액을 인출할 수 없습니다')
                    } else {
                        this.balance -= amt;
                    }
                },
                specialEvent: function(e) {
                    this.balance += 10000;
                }
            }
        })
    </script>

</body>

</html>