<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>04-09 : keycode event</title>

    <style>
        #list {
            width: 400px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
        
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="example" v-cloak>
        <p>
            Name :
            <input type="text" v-model="name" v-on:keyup.13="search" placeholder="please insert at least two character..." />
        </p>
        <table id="list">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Tel. #</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="contact in contactlist">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
        <div v-show="isProcessing === true">Searching...</div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>

    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                name: '',
                isProcessing: false,
                contactlist: []
            },
            methods: {
                search: function(e) {
                    var val = e.target.value;
                    if (val.length >= 2) {
                        this.fetchContacts();
                    } else {
                        this.contactlist = [];
                    }
                },
                fetchContacts: function() {
                    this.contactlist = [];
                    this.isProcessing = true;
                    var url = 'http://sample.bmaster.kro.kr/contacts_long/search/' + this.name;
                    var vm = this;
                    fetch(url).then(function(response) {
                        return response.json()
                    }).then(function(json) {
                        vm.contactlist = json;
                        vm.isProcessing = false;
                    }).catch(function(ex) {
                        console.log('parsing failed', ex);
                        vm.contactlist = [];
                        vm.isProcessing = false;
                    })
                }
            }
        })
    </script>
</body>

</html>