<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="test">
        {{name}}
    </div>

    <script>
        var model = {
            name: '홍길동'
        }
        var vm = new Vue({
            el: '#test',
            data: model
        })
    </script>
</body>

</html>