<!DOCTYPE html>
<html lang="en">

<head>
    <title>chapter03 - 02</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="example">
        Price : <span>{{amount}} Won</span>
    </div>

    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                amt: 1234567
            },
            computed: {
                amount: {
                    get: function() {
                        var s = new String("" + this.amt);
                        var result = '';
                        var num = 0;
                        for (var i=s.length-1; i>=0; i--) {
                            result = s[i] + result;
                            if (num % 3 == 2 && i !== 0) {
                                result = ',' + result;
                            }
                            num++;
                        }
                        return result;
                    },
                    set: function(amt) {
                        if (typeof(amt) === 'string') {
                            var result = parseInt(amt.replace(/,/g, ''));
                            if (isNaN(result))
                                this.amt = 0;
                            else
                                this.amt = result;
                        } else if (typeof(amt) === 'number') {
                            this.amt = amt;
                        }
                    }
                }
            }
        })
    </script>
</body>

</html>