<!DOCTYPE html>
<html lang="en">

<head>
    <title>chapter03 - 02</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="example">
        <div>
            <h3>Computed Call Count</h3>
            <p>{{com_amount}}</p>
            <p>{{com_amount}}</p>
            <p>{{com_amount}}</p>
        </div>
        <div>
            <h3>Method Call Count</h3>
            <p>{{method_amount()}}</p>
            <p>{{method_amount()}}</p>
            <p>{{method_amount()}}</p>
        </div>
    </div>

    <script>
        var computed_call_count = 0;
        var methods_call_count = 0;

        var vm = new Vue({
            el: '#example',
            data: {},
            computed: {
                com_amount: function() {
                    return ++computed_call_count;
                }
            },
            methods: {
                method_amount: function() {
                    return ++methods_call_count;
                }
            }
        })
    </script>
</body>

</html>