<!DOCTYPE html>
<html lang="en">

<head>
    <title>chapter03 - 05</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="example">
        x : <input type="text" v-model="x" /><br /> y : <input type="text" v-model="y" /><br /> Add Result : {{sum}}
    </div>
    <script>
        var vm = new Vue({
            el: "#example",
            data: {
                x: 0,
                y: 0,
                sum: 0
            },
            watch: {
                x: function(v) {
                    console.log('## change value x :');
                    var result = Number(v) + Number(this.y);
                    if (isNaN(result)) {
                        this.sum = 0;
                    } else {
                        this.sum = result;
                    }
                },
                y: function(v) {
                    console.log('## change value y :');
                    var result = Number(this.x) + Number(v);
                    if (isNaN(result)) {
                        this.sum = 0;
                    } else {
                        this.sum = result;
                    }
                }
            }
        })
    </script>
</body>

</html>